<div class="p-fluid" *ngIf="questionPaper">
    <p-card>
        <ng-template pTemplate="content">
            <div class="p-field p-grid">
                <label for="name">Your name</label>
                <input type="text" id="name" pInputText [(ngModel)]="answerPaper.name" placeholder="Name"
                    class="p-inputtext-lg" />
            </div>

            <h2>  {{questionPaper.questions[currentQuestion].question}}</h2>

            <div *ngFor="let option of questionPaper.questions[currentQuestion].options" class="p-field-checkbox">
                <p-radioButton name="option" [value]="option" [(ngModel)]="currentAnswer.answer"></p-radioButton>
                <h4>{{option}}</h4>
            </div>
            <div class="p-field" *ngIf="currentAnswer.prompt">
                {{ currentAnswer.prompt }}
            </div>
        </ng-template>
        <ng-template pTemplate="footer">
            <div class="p-formgrid p-grid">
                <div class="p-field p-col">
                    <p-button label="Previous" (onClick)="previousQuestion()" icon="pi pi-angle-left" iconPos="left">
                    </p-button>
                </div>
                <div class="p-field p-nogutter p-col">
                    <p-button label="Next" (onClick)="nextQuestion()" icon="pi pi-angle-right" iconPos="right">
                    </p-button>
                </div>
            </div>
            <div class="p-formgrid p-grid">
                <div class="p-field p-col">
                    <p-button label="Submit test" [style]="{background:'green'}" (onClick)="completeTest()"></p-button>
                </div>
                <div class="p-field p-nogutter p-col">
                    <p-button label="Close" [style]="{background:'red'}" (onClick)="closeTest()"></p-button>
                </div>
            </div>

        </ng-template>
    </p-card>
</div>